@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.container {
  margin: 2vw;
}
#items-row {
  margin-top: 5vw;
  display: flex;
  flex-direction: row;
  column-gap: 15vw;
}
#chartContainer {
  margin-left: 2vw;
  height: 34vh;
  width: 17vw;
}

.left {
  position: fixed;
  left: 72vw;
  top: 6vh;
  background: #f2f2fd;
  border-radius: 80px;
  width: 25vw;
  height: 90vh;
}

.title {
  font-size: 34px;
  font-weight: 600;
  color: rgba(27, 22, 79, 0.67);
}

.ticket-open {
  position: fixed;
  top: 63vh;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  background-color: #f8fafb;
  width: 60vw;
  height: 37vh;
}
.ticket-open {
  overflow: auto;
}
.ticket-open .title {
  margin: 2vw;
}
.ticket-open::-webkit-scrollbar {
  display: none;
}
.column {
  margin: 2vw;
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
}

.column-items {
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 100px;
  background-color: black;
}
.column-item-id{
  position: relative;
  left: 8vw;
  width: 100px;
  height: 100px;
  background-color: black;
}
