<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="views/styles/dashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="left">
          <div class="title">
            <img src="views/img/splash.png" alt="Logo" srcset="" />
            <h2>State GMAO.</h2>
          </div>
        </div>
        <div class="rigth">
          <!-- <div class="bottom">Copyrigth 2022</div> -->
        </div>
      </div>
</body>
</html>