<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="styles/index.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="title">Dashboard</div>
        <div id="items-row">
            <div id="chartContainer" style="font-family: 'Poppins', sans-serif; background-color: #f8fafb;"  ></div>
            <div id="chartContainerBlock" style="font-family: 'Poppins', sans-serif; background-color: #f8fafb;"  ></div>

            <div class="circle"></div>
            <div class="left"></div>
        </div>


        <div class="ticket-open">
            <div class="title"><!-- Tickets ouverts --></div>
            <div class="column">
                <div class="column-items">
                    <div class="column-item-id"></div>
                </div>
                <div class="column-items"></div>
                <div class="column-items"></div>

            </div>
        </div>

    </div>
</body>
</html>